version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            pkg/ecosystems/python/.* run-python-tests true
          config-path: .circleci/continue-config.yml
