version: 2.1

orbs:
  prodsec: snyk/prodsec-orb@1

metadata:
  resource_class: small
  working_directory: ~/<project name>

go_image: &go_image
  resource_class: medium
  docker:
    - image: cimg/go:1.24

jobs:
  lint:
    docker:
      - image: cimg/go:1.24
    steps:
      - checkout
      - run:
          name: run lint check
          command: make lint
  unit_test:
    docker:
      - image: cimg/go:1.24
    steps:
      - checkout
      - run:
          name: run unit tests
          command: make test

  python_integration_test:
    parameters:
      python_version:
        type: string
    docker:
      - image: cimg/go:1.24
    steps:
      - checkout
      - run:
          name: Install Python << parameters.python_version >>
          command: |
            pyenv install << parameters.python_version >>
            pyenv global << parameters.python_version >>
      - run:
          name: Verify installations
          command: |
            go version
            python --version
            pip --version
      - run:
          name: Run Python integration tests
          command: make test-python-integration

  security-scans:
    <<: *go_image
    resource_class: small
    steps:
      - checkout
      - prodsec/security_scans:
          mode: auto
          iac-scan: disabled

workflows:
  version: 2
  CI:
    jobs:
      - prodsec/secrets-scan:
          name: Scan repository for secrets
          context:
            - snyk-bot-slack
          channel: snyk-vuln-alerts-unify
          filters:
            branches:
              ignore:
                - main
      - security-scans:
          name: Security Scans
          context:
            - analysis_unify
      - lint:
          name: Lint
          filters:
            branches:
              ignore:
                - main
      - unit_test:
          name: Unit tests
          filters:
            branches:
              ignore:
                - main
      - python_integration_test:
          name: Python << matrix.python_version >> integration tests
          matrix:
            parameters:
              python_version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]
          filters:
            branches:
              ignore:
                - main
