name: PR Title Check

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  validate-pr-title:
    name: Validate PR Title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Conventional Commit In Pull Requests
        uses: ytanikin/pr-conventional-commits@1.4.2
        with:
          task_types: '["feat","fix","docs","style","refactor","perf","test","build","ci","chore","revert"]'
